@import "../utils/mixins";
@import "../utils/variables";


@include spawning;
@include card-delay;

.resto__heading{
    &__title{
        @include title-position;
    }
}

.resto{
    background: rgb(241, 241, 241);
    width: 100%;
    height: 100%;
    padding: 1.5rem 0;
    clear: both;
    &__card{
        width: 90%;
        height: 15em;
        margin: 2rem 1.1875rem;
        position: relative;
        border-radius: .5rem;
        overflow: hidden;
        box-shadow: rgb(177, 176, 176) 0 .5rem 20px;
        @include animate-quick;
        animation: spawn 2000ms both;
        &:hover{
            transform: scale(1.01);
            box-shadow: rgb(112, 112, 112) 0 .6rem 30px;
        }
        &__banner{
            @include new;
        }
        &__pic{
            @include image-sizing;
        }
        &__content{
            width: 100%;
            background: white;
            padding: .5em .6em;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: absolute;
            height: 3.5em;
            bottom: 0;
        }
        &__infos{
            width: 90%;
            display: flex;
            flex-direction: column;
        }
        &__like{
            @include picto-sizing;
            fill: black;
            margin-right: 1.5rem;
            position: absolute;
            bottom: 1.8em;
            right: .5em;
            z-index: 98;
            @include animate-quick;
            
            &--alt{
                @include picto-sizing;
                opacity: 0;
                fill: $color-primary;
                margin-right: 1.5rem;
                position: absolute;
                bottom: 1.8em;
                right: .5em;
                z-index: 99;
                transform: translateY(8px);
                transform-origin: bottom;
                @include animate-slow;
                &:hover{
                    opacity: 1;
                    transform: translateY(0px);
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px){
    .resto{
        padding: 1.5rem 4.5rem;
        height: 55rem;
        &__card{
            height: 20em;
            width: 40%;
            float: left;
            &__banner{
                @include new-big;
            }
            &__content{
                height: 5em;

            }
            &__infos{
                & h4{
                    font-size: 1.5em;
                }
                & p{
                    font-size: 1.3em;
                }
            }
        }
    }
}